<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SearchServiceName" value="testazuretables" />
    <add key="SearchServiceAdminApiKey" value="your key" />
    <add key="SearchServiceQueryApiKey" value="your key" />
  </appSettings>
</configuration>